<!--
  Generated template for the CadastroUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar text-center>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

  <h3 text-center>
    Me Cadastrar
  </h3>

  <ion-row>
    <ion-col style="margin-left: 40%;">
      <ion-avatar item-start>
        <img [src]="img" style="width: 70px; height: 70px;">
      </ion-avatar>
    </ion-col>
  </ion-row>

  <form padding [formGroup]="cadForm" (submit)="SalvarUsuario()" novalidate>
    <ion-item>
      <ion-label color="primary" floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="this.usuario.nome" name="nome" formControlName="nome" maxlength="49"></ion-input>
    </ion-item>
    <h6 *ngIf="errorNome" class="error"> {{messageNome}}</h6>

    <ion-item>
      <ion-label color="primary" floating>Sobrenome</ion-label>
      <ion-input type="text" [(ngModel)]="this.usuario.sobrenome" name="sobrenome" formControlName="sobrenome" maxlength="49"></ion-input>
    </ion-item>
    <h6 *ngIf="errorSobrenome" class="error"> {{messageSobrenome}}</h6>

    <ion-item>
      <ion-label color="primary" floating>Aniversário</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="this.usuario.aniversario" name="aniversario"
        formControlName="aniversario"></ion-datetime>
    </ion-item>
    <h6 *ngIf="errorData" class="error"> {{messageData}}</h6>

    <ion-item>
      <ion-label color="primary" floating>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="this.usuario.email" name="email" formControlName="email" maxlength="49"></ion-input>
    </ion-item>
    <h6 *ngIf="errorEmail" class="error"> {{messageEmail}}</h6>

    <ion-item>
      <ion-label color="primary" floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="this.usuario.senha" name="senha" formControlName="senha" maxlength="16"></ion-input>
    </ion-item>
    <h6 *ngIf="errorPassword" class="error"> {{messagePassword}}</h6>

    <ion-item>
      <ion-label color="primary" floating>Confirmação da senha</ion-label>
      <ion-input type="password" [(ngModel)]="this.usuario.confSenha" name="confSenha" formControlName="confSenha" maxlength="16"></ion-input>
    </ion-item>
    <h6 *ngIf="errorConfPassword" class="error"> {{messageConfPassword}}</h6>

    <p text-center>
      <button ion-button color="primary">Cadastrar</button>
      <!-- (click)="SalvarUsuario()" -->
    </p>
  </form>
</ion-content>