<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h3 text-center>
    {{ titulo }}
  </h3>

  <ion-row>
    <ion-col style="margin-left: 40%;">
      <ion-avatar item-start>
        <img src="../../assets/imgs/icons/car2.png" style="width: 70px; height: 70px;">
      </ion-avatar>
    </ion-col>
  </ion-row>

  <form padding [formGroup]="cadForm" (submit)="SalvarVeiculo()" novalidate>
    <ion-item>
      <ion-label color="primary" floating>Marca</ion-label>
      <ion-input type="text" [(ngModel)]="this.veiculoSelect.marca" name="marca" formControlName="marca"></ion-input>
    </ion-item>
    <h6 *ngIf="errorMarca" class="error"> {{messageMarca}}</h6>

    <ion-item>
      <ion-label color="primary" floating>Modelo</ion-label>
      <ion-input type="text" [(ngModel)]="this.veiculoSelect.modelo" name="modelo" formControlName="modelo"></ion-input>
    </ion-item>
    <h6 *ngIf="errorModelo" class="error"> {{messageModelo}}</h6>

    <ion-item>
      <ion-label color="primary" floating>Placa</ion-label>
      <ion-input type="text" [(ngModel)]="this.veiculoSelect.placa" name="placa" formControlName="placa" [brmasker]="{mask:'000-0000', len:8}"></ion-input>
    </ion-item>
    <h6 *ngIf="errorPlaca" class="error"> {{messagePlaca}}</h6>

    <ion-item>
      <ion-label color="primary" floating>Quilometragem Atual</ion-label>
      <ion-input type="number" [(ngModel)]="this.veiculoSelect.kmAtual" name="km" formControlName="km"></ion-input>
    </ion-item>
    <h6 *ngIf="errorKm" class="error"> {{messageKm}}</h6>

    <ion-item>
      <ion-label color="primary" floating>Última troca de óleo</ion-label>
      <ion-input type="number" [(ngModel)]="this.veiculoSelect.ultTrocaOleo" name="ultTrocaOleo" formControlName="trOleo"></ion-input>
    </ion-item>
    <h6 *ngIf="errorTrOleo" class="error"> {{messageTrOleo}}</h6>

    <ion-item>
      <ion-label color="primary" floating>Última troca da correia dentada</ion-label>
      <ion-input type="number" [(ngModel)]="this.veiculoSelect.ultTrocaCorreia" name="ultTrocaCorreia" formControlName="trCorreia"></ion-input>
    </ion-item>
    <h6 *ngIf="errorTrCorreia" class="error"> {{messageTrCorreia}}</h6>

    <p text-center>
      <button ion-button color="primary" >Salvar</button>
      <!-- (click)="SalvarVeiculo()" -->
    </p>
  </form>

</ion-content>